   .woot { width:100%;  margin-top:10px; border:0px solid #000000;}
   .wootimage { margin-left:50px; margin-top:10px; border:0px solid #000000;}
   .left { float:left; width:40%; margin-right:10px; margin-top:10px; border:0px solid #000000;}
   .right { float:right; width:40%; margin-right:10px; margin-top:10px; border:0px solid #000000; }
   .clear { clear:both; }
